<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Gazebo插件宏 -->
  <xacro:macro name="hexapod_gazebo">
    
    <!-- 主体Gazebo属性 -->
    <gazebo reference="base_link">
      <material>Gazebo/Orange</material>
      <selfCollide>true</selfCollide>
    </gazebo>
    
    <!-- 腿部Gazebo属性 -->
    <xacro:macro name="leg_gazebo" params="leg_id">
      <gazebo reference="coxa_${leg_id}_link">
        <material>Gazebo/Black</material>
        <selfCollide>true</selfCollide>
      </gazebo>
      <gazebo reference="femur_${leg_id}_link">
        <material>Gazebo/Black</material>
        <selfCollide>true</selfCollide>
      </gazebo>
      <gazebo reference="tibia_${leg_id}_link">
        <material>Gazebo/Black</material>
        <selfCollide>true</selfCollide>
      </gazebo>
      <gazebo reference="foot_${leg_id}_link">
        <material>Gazebo/White</material>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <minDepth>0.001</minDepth>
        <maxVel>1.0</maxVel>
        <selfCollide>true</selfCollide>
      </gazebo>
    </xacro:macro>
    
    <!-- 为所有6条腿添加Gazebo属性 -->
    <xacro:leg_gazebo leg_id="1"/>
    <xacro:leg_gazebo leg_id="2"/>
    <xacro:leg_gazebo leg_id="3"/>
    <xacro:leg_gazebo leg_id="4"/>
    <xacro:leg_gazebo leg_id="5"/>
    <xacro:leg_gazebo leg_id="6"/>
    
    <!-- ros2_control插件 -->
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find hexapod_description)/config/hexapod_controllers.yaml</parameters>
      </plugin>
    </gazebo>
    
    <!-- 关节状态发布器 -->
    <gazebo>
      <plugin filename="libgazebo_ros_joint_state_publisher.so" name="joint_state_publisher">
        <ros>
          <namespace>/</namespace>
        </ros>
        <update_rate>50</update_rate>
        <joint_name>coxa_1_joint</joint_name>
        <joint_name>femur_1_joint</joint_name>
        <joint_name>tibia_1_joint</joint_name>
        <joint_name>coxa_2_joint</joint_name>
        <joint_name>femur_2_joint</joint_name>
        <joint_name>tibia_2_joint</joint_name>
        <joint_name>coxa_3_joint</joint_name>
        <joint_name>femur_3_joint</joint_name>
        <joint_name>tibia_3_joint</joint_name>
        <joint_name>coxa_4_joint</joint_name>
        <joint_name>femur_4_joint</joint_name>
        <joint_name>tibia_4_joint</joint_name>
        <joint_name>coxa_5_joint</joint_name>
        <joint_name>femur_5_joint</joint_name>
        <joint_name>tibia_5_joint</joint_name>
        <joint_name>coxa_6_joint</joint_name>
        <joint_name>femur_6_joint</joint_name>
        <joint_name>tibia_6_joint</joint_name>
      </plugin>
    </gazebo>
    
  </xacro:macro>
  
</robot>

